span.right-align {
    float: right;
    font-weight: bold;
}


.mat-card {
    padding: 0px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.card-grid {
    margin-top: 10px;
}

.content {
    text-align: left;
    padding: 16px;
    width: unset;
}

.footer {
    margin-top: 10px;
    padding: 16px 0px;
    border-top: 1px solid #ccc;
    text-align: left;
}

.link-download {
    font-weight: bold;
    text-decoration: underline;
}

.link-download :hover {
    text-decoration: none;
}

.right-align {
    margin-left: auto;
}

.icon-delete{
    float: right;
    color:#b8191a;
    padding-right: 16px;
    padding-top: 4px;
}

.pdf-icon {
    color:#b8191a;
}

mat-icon {
    cursor: pointer;
}