<div class="wide-screen">
    <mat-grid-list cols="12" rowHeight="10em">
        <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
        <mat-grid-tile colspan="10" rowspan="1">
            <div class="center-div"></div>
            <mat-card _ngcontent-qhi-c129="" class="mat-card mat-focus-indicator mat-elevation-z0 warn-box">
                <mat-card-header _ngcontent-qhi-c129="" class="mat-card-header">
                    <div _ngcontent-qhi-c129="" mat-card-avatar="" class="mat-card-avatar def-icon">
                        <img _ngcontent-qhi-c129="" class="warn-icon ng-star-inserted" src="assets/icons/alert.svg" alt="alert">
                    </div>
                    <div class="mat-card-header-text">
                        <mat-card-title _ngcontent-qhi-c129="" class="mat-card-title titolo">
                            Il servizio a causa di una manutenzione non è al momento disponibile
                        </mat-card-title>
                    </div>
                    <mat-card-content _ngcontent-gtg-c129="" class="mat-card-content">
                        <div _ngcontent-gtg-c129="" class="left-elem content ng-star-inserted">
                        </div>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
            <div class="center-div"></div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
    </mat-grid-list>
    <div class="blank-space"></div>
</div>