.panel-title {
    font-weight: bold;
}

.expansion-panel {
    width: 95%;
    height: max-content;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: left;
}

.title-e {
    width: 80%;
}
.desc-e {
    width: 20%;
    text-align: right;
}

.card {
    margin-bottom: 1em;
    margin-top: 1em;
    width: 90%;
}

.label-tile {
    width: 100%;
    text-align: left;
    font-size: 0.8em;
}

.toggle {
    font-weight: bold;
}

.comp-button {
    font-weight: bold;
    border-radius: 12px;
}

.checkbox{
    margin-right: 1em;
}

.secondary-button {
    width: 100%;
}
