<div class="cit-page-container">
  <app-page-title>Assegna Ispezione</app-page-title>
  <app-breadcrumb label="Dettaglio Ispezione" [link]="['/', 'dettaglio-ispezione', ispezione?.idIspezione2018]"></app-breadcrumb>
  <app-role-info-box></app-role-info-box>
  <app-alert-hook></app-alert-hook>
  <mat-card *ngIf="!loading; else loadingTemplate">
    <form [formGroup]="ispezioneForm" (ngSubmit)="submit()">
      <mat-form-field>
        <mat-label>Assegnatario</mat-label>
        <mat-select formControlName="cfUtenteAssegn">
          <mat-option *ngFor="let ispettore of ispettoreList" [value]="ispettore.codicefiscale">
            {{ispettore.cognome}} {{ispettore.nome}} ({{ispettore.codicefiscale}})
          </mat-option>
        </mat-select>
      </mat-form-field>
      <hr>
      <button mat-button color="primary" [routerLink]="['/', 'dettaglio-ispezione', ispezione.idIspezione2018]">ANNULLA</button>
      <button mat-flat-button color="primary" style="float: right">SALVA</button>
    </form>
  </mat-card>
  <ng-template #loadingTemplate>
    <mat-spinner style="margin: 0 auto 20px auto"></mat-spinner>
  </ng-template>
</div>
