::ng-deep .mat-header-cell {
  font-weight: bold !important;
  color: #000 !important;
  font-family: 'Arial', sans-serif !important; // cambia con il font che vuoi
  font-size: 14px !important;
}

.modal-header {
  position: relative;
}

.modal-content-scrollable {
  max-height: 90vh; 
  overflow-y: auto;
  padding: 15px;
  margin-right: -10px;
}

.close-button {
  position: absolute;
  top: -10px;
  right: 0px;
  font-size: 24px;
  color: #000;
  outline: none;
  border: none; 
  background: none;  /* Rimuove lo sfondo */
}

.close-button:focus, .close-button:active {
  outline: none; 
  border: none; 
  background: none;  /* Assicura che anche in focus e attivo non appaia lo sfondo */
}

.close-button mat-icon {
  font-size: 24px;
  color: #000;
}

.close-button:hover {
  background-color: transparent; /* Rimuove lo sfondo al passaggio del mouse */
  color: black;
}
