@media screen and (max-width: 767px) {
    .centered-container-content-title{
        width: 100%;
        margin-bottom: 20px;
    }
    
    .centered-container-content{
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .centered-container-content-title{
        width: 100%;
    }
    
    .centered-container-content{
        width: 100%;
    }
}

.label-tile {
    width: 100%;
    text-align: left;
    font-size: 0.9em;
}

.data-tile {
    width: 100%;
    text-align: right;
    font-weight: bold;
}