.file-upload-container {
    width: 100%;
    height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    text-align: -moz-center;
  }
  
  .file-upload-content {
    text-align: -webkit-center;
    text-align: -moz-center;
  }
  
  .plus-icon {
    font-size: 48px;
    background-color: #006cb4;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flow-root;
    color: white;
  
    &>mat-icon {
      font-size: 40px;
      text-align: center;
      width: 100%;
      margin-top: 5px;
    }
  }
  
  .file-upload-container.dragover {
    border-color: #3f51b5;
    background-color: #f0f0f0;
  }
  
  .file-upload-container input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .button-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .button-container button {
    cursor: pointer;
  }
  
  .mat-card {
    display: grid;
  
    mat-form-field {
      width: 100%;
    }
  }