@use "sass:map";
@use "@angular/material" as mat;
@import "theme.scss";

$color-config: mat.get-color-config($my-theme);
$primary-palette: map-get($color-config, "primary");
$primary: map-get($primary-palette, default);
$disabled: #6c757d;
$clickedColor: #213366;

@font-face {
    font-family: "Open Sans";
    src: url("assets/fonts/open_sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans Big";
    src: url("assets/fonts/open_sans/OpenSans-ExtraBold.ttf") format("truetype");
}

mat-form-field.cit-fix-time-padding
.mat-form-field-wrapper{
  padding-bottom: 0 !important;
}

mat-tab-group.cit-fix-overflow-y
.mat-tab-body-content {
  overflow-y: hidden;
}

.cit-warn-snackbar {
  --mdc-snackbar-container-color: #{mat.get-color-from-palette($my-warn, 'default')};
  --mdc-snackbar-supporting-text-color: #{mat.get-color-from-palette($my-warn, 'default-contrast')};
  --mat-snack-bar-button-color: #{mat.get-color-from-palette($my-warn, 'default-contrast')};
}

.cit-transparent-dialog .mat-mdc-dialog-container {
  --mdc-dialog-container-color: transparent;
  --mdc-dialog-container-elevation: none;
}

.cit-page-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

.cit-block-button {
  width: 100%;

  @media screen and (min-width: 1000px) {
    width: 50%;
  }
}

.cit-two-cols-grid {
  display: grid;
  column-gap: 20px;

  @media screen and (min-width: 1000px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.cit-three-cols-grid {
  display: grid;
  gap: 20px;

  @media screen and (min-width: 1000px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

mat-checkbox .mat-checkbox-layout {
  white-space: normal;
}

form.ng-submitted
mat-radio-group.ng-invalid {
  color: red;

  .mat-radio-outer-circle {
    border-color: red;
  }
}

.cit-two-cols-chips
.mat-chip-list-wrapper {
  display: grid;
  gap: 10px;

  @media screen and (min-width: 1000px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.cit-ugly-chips
.mat-chip.mat-standard-chip {
  background-color: white;
  color: #006cb4;
}

.cit-ugly-accordion {
  mat-expansion-panel {
    margin-bottom: 20px;

    mat-panel-title {
      font-weight: bold;
    }
  }
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
  font-weight: bold !important;
}

.mat-stroked-button.mat-primary:not(.mat-button-disabled) {
  border-color: #006cb4 !important;
}

mat-form-field.placeholder-dark span.mat-form-field-label-wrapper label {
  color: #444 !important;
}

@media screen and (max-width: 768px) {
    html,
    body {
        height: 100%;
        margin: 0;
        font-family: "Open Sans", Sans-serif;

        .mat-radio-group.ng-invalid.ng-touched .mat-radio-outer-circle {
            border-color: red;
        }
        .mat-radio-group.ng-invalid.ng-touched .mat-radio-label-content {
            color: #f44336;
        }

        .contaner-card {
            background-color: transparent;
        }

        .form-field {
            width: 100%;
            font-weight: bold;
        }

        .online {
            display: none;
        }

        .filter-label {
            font-size: 0.8em;
        }
        .def-elem {
            font-weight: bold;
        }

        .title {
            text-align: left;
            font: normal normal bold 30px/41px 'Open Sans', Sans-serif;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
            font-size: 22px;
            font-weight: bold;
        }

        .fields-label {
            font-size: 14px;
        }

        .default-button {
            font-size: 16px;
            height: 36px;
            width: 100%;
            font-weight: bold;
            border: solid 3px $primary;
            border-radius: 6px;
            background-color: $primary;
            color: white;
        }

        .default-button:hover,
        .secondary-button {
            border: solid 1px $primary;
            background-color: white;
            color: $primary;
        }

        .default-button:disabled {
            background-color: $disabled;
            border: 0;
        }

        .disabled {
            color: #aeaeae;
        }

        .default-button:active:enabled {
            border: solid 3px $clickedColor;
            background-color: white;
            color: $clickedColor;
        }

        .content {
            width: 100%;
            height: 100%;
            margin: 0;
        }

        .page-content {
            width: auto;
            //height: 100%;
            //padding-bottom: 2em;
        }

        .sidenav-int-content {
            width: 96%;
            margin-left: 2%;
            margin-right: 2%;
            height: 100%;
            margin-bottom: 80px;
            margin-top: 60px;
        }

        mat-sidenav {
            width: 80%;
        }

        .toolbar {
            width: 100%;
            height: 100%;
            margin: auto;
        }

        .primary-color {
            color: $primary;
        }

        .card {
            width: 100%;
            height: max-content;
            margin: auto;
        }

        .error {
            color: #f44336;
        }
    }
}

.ol-rotate{
    display: none !important;
}

.ol-attribution{
    display: none !important;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.card-padding {
    padding: 0px 8.3%;
    margin-right: 3.3%;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
    grid-gap: 45px;
    max-width: 1200px;
}

.wide-card {
    min-height: 10em;
    margin: auto;
    margin-bottom: 1em;
}

.left-elem {
    width: 100%;
    text-align: left;
}

.right-elem {
    width: 100%;
    text-align: right;
}

.center-elem{
    width: 100%;
    text-align: center;
}

.mat-grid-tile-content{
    justify-content: flex-start !important;
 }

/* .mat-expansion-panel-header{
    padding: 0 0px !important;
} */

@media screen and (min-width: 768px) and (max-width: 1365px) {
    .wide-screen {
        width: 100%;
        margin: auto;
    }
}

//Zoom 100%
@media screen and (min-width: 1366px) and (max-width: 1440px) {
    .wide-screen {
        width: 88%;
        margin-left: 84px;
    }
}

@media only screen and (min-width: 1441px) {
    .wide-screen {
        width: 1200px;
        margin: auto;
    }

    .toolbar {
        width: 1200px !important;
        height: 100%;
        margin: auto;
    }
}

@media only screen and (max-width: 768px) {
    .ol-popup{
        margin-bottom: 300px !important;
    }
}

@media screen and (min-width: 768px) {
    html,
    body {
        height: 100%;
        margin: 0;
        font-family: "Open Sans", Sans-serif;

        .mat-radio-group.ng-invalid.ng-touched .mat-radio-outer-circle {
            border-color: red;
        }
        .mat-radio-group.ng-invalid.ng-touched .mat-radio-label-content {
            color: #f44336;
        }

        .mat-drawer-content {
            position: relative;
            z-index: 1;
            display: block;
            height: 100%;
            overflow: unset;
        }

        .error {
            color: #f44336;
        }

        .form-field {
            width: 100%;
            font-weight: bold;
        }

        .online {
            display: none;
        }

        .filter-label {
            font-size: 0.8em;
        }

        .def-elem {
            font-weight: bold;
        }

        .sidenav-int-content {
            width: auto;
            margin: auto;
            margin-top: 50px;
            background-color: white;
            border-radius: 0px;
            text-align: center;
            padding-bottom: 0em;
            padding-left: 0em;
            padding-right: 0em;
        }

        .middle {
            width: 100%;
            height: 0px;
        }

        .sidenav-footer-content {
            width: 100%;
            margin-top: auto;
        }

        .sidenav-container {
            // background-color: rgb(0, 0, 0, 0.5);
            min-height: 100%;
        }

        .menu-icon {
            margin-right: 24px;
            margin-left: -10px;
        }

        mat-sidenav {
            width: 30%;
        }

        .toolbar {
            width: 1440px;
            height: 100%;
            margin: auto;
        }

        .page-content {
            width: auto;
            //margin: auto;
        }

        .title {
            text-align: left;
            font: normal normal bold 30px/41px 'Open Sans', sans-serif;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
        }

        .fields-label {
            font-size: 14px;
        }

        .default-button {
            font-size: 16px;
            height: 36px;
            width: 100%;
            font-weight: bold;
            border: solid 3px $primary;
            border-radius: 6px;
            background-color: $primary;
            color: white;
        }

        .default-button:hover,
        .secondary-button {
            border: solid 1px $primary;
            background-color: white;
            color: $primary;
        }

        .default-button:disabled {
            background-color: $disabled;
            border: 0;
        }

        .disabled {
            color: #aeaeae;
        }

        .default-button:active:enabled {
            border: solid 3px $clickedColor;
            background-color: white;
            color: $clickedColor;
        }

        .primary-color {
            color: $primary;
        }

        .card {
            width: 100%;
            height: max-content;
            margin: auto;
        }

        .card-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
            gap: 15px;
            max-width: 1200px;
            margin: 0 auto;
        }

        .card-title{
            font: normal normal bold 16px/18px 'Open Sans', Sans-serif;
        }
    }
}

// ANIMAZIONI

.rotate {
    animation: rotate 1s ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(45deg);
    }
}
