mat-form-field {
    width: 100%;
}

.label-tile {
    width: 100%;
    text-align: left;
    font-size: 0.8em;
    margin: 10px 0px;
}

.text-wrap {
    overflow-wrap: break-word;
}

.back {
    font-size: 16px/22px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #0060C1;
}

.card {
    width: 81% !important;
}

@media screen and (min-width: 768px) {
    .mat-grid-tile-content {
        display: block !important;
    }

    .radio-imp-type{
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 76% !important;
    }

    .radio-imp-type{
        display: flex;
    }
}