mat-form-field {
    width: 100%;
}

.label-tile {
    width: 100%;
    text-align: left;
    font-size: 0.8em;
}

.left-elem {
    width: 100%;
    text-align: left;
}

.text-wrap {
    overflow-wrap: break-word;
}
