#role-name-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #006cb4;

  .icon {
    position: relative;
    height: 28px;
    margin-right: 10px;

    .circle, .bolt {
      width: 28px;
      height: 28px;
      font-size: 28px;
    }

    .circle {
      color: #b8191a;
    }

    .bolt {
      position: absolute;
      top: 0;
      left: 0;
      color: white;
    }
  }
}

#role-info-box {
  margin-bottom: 20px;
  background-color: #ddeeff;
}
