.panel-title {
    font-weight: bold;
    padding: 15px;
}

.expansion-panel {
    width: 95%;
    height: max-content;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: left;
}

.title-e {
    width: 80%;
}

.desc-e {
    width: 20%;
    text-align: right;
}

.card {
    margin-bottom: 1em;
    margin-top: 1em;
    width: 80% !important;
    max-width: 1160px;
}

.label-tile {
    width: 100%;
    text-align: left;
    font-size: 0.8em;
}

.toggle {
    font-weight: bold;
}

.comp-button {
    font-weight: bold;
    border-radius: 12px;
}

.checkbox {
    margin-right: 1em;
}

.delete {
    color: red;
}

.secondary-button {
    width: 100%;
}

.default-button {
    width: 100%;
}

.expansion-header-margin{
    margin-right: 10px;
}

@media screen and (min-width: 768px) {
    .mat-grid-tile-content {
        display: block !important;
    }

    .expansion-panel {
        width: 82.5%;
    }

    .secondary-button, .default-button{
        margin: 7px;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 76% !important;
    }

    .expansion-panel {
        width: 84.5%;
    }

    .secondary-button, .default-button{
        margin: 0px;
    }
}
