<div style="width: 83%; margin: auto;">
    <app-message-box [titolo]="titoloMessaggio" [descrizione]="descrzioneMessaggio" [type]="tipomessaggio"
        *ngIf="showMessaggio && titoloMessaggio && tipomessaggio">
    </app-message-box>
</div>
<div class="wide-screen">
    <div *ngIf="!isMapShowed">
        <div class="risultati" *ngIf="impianti && impianti.length!=0">
            <mat-grid-list *ngIf="!impianti || impianti.length >= maxResults" cols="12" rowHeight="10em">
                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="10">
                    <app-message-box
                        style="width: -webkit-fill-available;"
                        titolo="Attenzione!"
                        descrizione="Sono stati visualizzati solo i primi {{impianti.length}} record che rispondono ai criteri impostati. Si raccomanda di affinare la ricerca."
                        [type]="1">
                    </app-message-box>
                </mat-grid-tile>
                <mat-grid-tile colspan="1"></mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="12" rowHeight="200px">
                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="10">
                    <mat-card class="card contaner-card mat-elevation-z0">
                        <mat-grid-list cols="3" rowHeight="4em">
                            <mat-grid-tile>
                                <div class="left-elem">
                                    <span class="numero-risultati">{{impianti.length}} risultati</span>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile colspan="2">
                                <div class="right-elem" *ngIf="!isRicercaCompletaChecked">
                                    <button mat-button class="secondary-button" (click)="showMapAndPoints()">
                                        <img [src]="mappaIcon" alt="mappaIcon"> MOSTRA MAPPA
                                    </button>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="left-elem">
                                    <span class="filter-label">Ordina per</span>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile colspan="2">
                                <div class="right-elem">
                                    <form class="form-container" [formGroup]="filterForm">
                                        <mat-form-field class="form-field">
                                            <mat-select placeholder="Filtra" [formControlName]="'filtro'">
                                                <mat-option value="1" (click)="sortImpianti('1')" selected>Codice impianto
                                                </mat-option>
                                                <mat-option value="2" (click)="sortImpianti('2')">Comune</mat-option>
                                                <mat-option value="3" (click)="sortImpianti('3')">Indirizzo</mat-option>
                                                <mat-option value="4" (click)="sortImpianti('4')">Responsabile</mat-option>
                                                <mat-option value="5" (click)="sortImpianti('5')">Stato</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </form>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile colspan="1"></mat-grid-tile>
            </mat-grid-list>

            <div class="card-grid card-padding">
                <mat-card class="card mat-elevation-z8" *ngFor="let impianto of impianti">
                    <mat-grid-list cols="5" [rowHeight]="gridHeightBreakpoint">
                        <mat-grid-tile colspan="2">
                            <div class="label-tile">
                                <mat-label>Codice impianto:</mat-label>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="3" class="data-tile">
                            <div class="data-tile">
                                {{impianto.codiceImpianto?impianto.codiceImpianto:"-"}}</div>
                        </mat-grid-tile>

                        <mat-grid-tile colspan="2">
                            <div class="label-tile">
                                <mat-label>Comune:</mat-label>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="3" class="data-tile">
                            <div class="data-tile" id="comune">
                                {{impianto.descComune?impianto.descComune:"-"}}</div>
                        </mat-grid-tile>

                        <mat-grid-tile colspan="2" rowspan="2" >
                            <div class="label-tile">
                                <mat-label>Indirizzo:</mat-label>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="3" rowspan="2" class="data-tile">
                            <div class="data-tile">
                                {{impianto.indirizzo?impianto.indirizzo:"-"}}{{impianto.civico?"
                                "+impianto.civico:""}}
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="2">
                            <div class="label-tile">
                                <mat-label>Provincia:</mat-label>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="3" class="data-tile">
                            <div class="data-tile">
                                {{getProvinciaBySiglaProvincia(impianto.siglaProv)}}</div>
                        </mat-grid-tile>

                        <mat-grid-tile colspan="2">
                            <div class="label-tile">
                                <mat-label>Responsabile:</mat-label>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="3">
                            <div class="data-tile">
                                {{impianto.denomResponsabile?impianto.denomResponsabile:"-"}}</div>
                        </mat-grid-tile>

                        <mat-grid-tile colspan="2">
                            <div class="label-tile">
                                <mat-label>Stato:</mat-label>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="3">
                            <div class="data-tile">
                                <span class="stato-attivo" *ngIf="impianto.stato=='Attivo'">{{impianto.stato}}</span>
                                <span class="stato-dismesso" *ngIf="impianto.stato!='Attivo'">{{impianto.stato}}</span>

                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile *ngIf="!isRicercaCompletaChecked" colspan="5">
                            <button class="default-button" (click)="dettaglioImpianto(impianto)">SELEZIONA</button>
                        </mat-grid-tile>
                         <mat-grid-tile *ngIf="isRicercaCompletaChecked && this.utente.ruoloLoggato.ruolo == 'IMPRESA'"
                            colspan="4"                    
                            class="tile-small">
                            <div></div>
                            </mat-grid-tile>
                            <mat-grid-tile *ngIf="isRicercaCompletaChecked && this.utente.ruoloLoggato.ruolo == 'IMPRESA'" 
                            colspan="1" 
                            class="tile-small">          
                            <button 
                                style= "margin-left: 22px;"
                                class="icon-button"
                                matTooltip="Subentro" 
                                (click)="verificaImpiantoSubentroFromImpianto(impianto)">
                                <img [src]="subentro" alt="subentro">
                            </button>
                            </mat-grid-tile>

                    </mat-grid-list>
                </mat-card>
            </div>
        </div>
        <mat-grid-list cols="12" rowHeight="100px">
            <mat-grid-tile colspan="1"></mat-grid-tile>
            <mat-grid-tile colspan="10">
                <app-message-box style="width: -webkit-fill-available;" [titolo]="'Nessun risultato trovato'" 
                    [descrizione]="'Prova ad effettuare una nuova ricerca'"
                    [type]="1" *ngIf="!impianti || impianti.length==0">
                </app-message-box> 
            </mat-grid-tile>
            <mat-grid-tile colspan="1"></mat-grid-tile>
        </mat-grid-list>
    </div>


    <div *ngIf="isMapShowed">
        <mat-grid-list cols="24" rowHeight="100vh">
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="20">
                <div style="width: -webkit-fill-available;">
                    <div class="result-container">
                        <div class="left-elem" style="padding-left: 10px; display: flex; text-align: left;">
                            <div>{{impianti.length}} risultati</div>
                        </div>
                        <div class="right-elem">
                            <button mat-button class="secondary-button" (click)="showMapAndPoints()">
                                <img [src]="mappaIcon" alt="mappaIcon"> MOSTRA IMPIANTI
                            </button>
                        </div>
                     </div>
                     <div style="text-align: left; padding: 10px;">I risultati visualizzati in mappa potrebbero essere minori di quelli totali, poiché per alcuni non è stato selezionato l'indirizzo da stradario ma è stata selezionata l'opzione "Non trovato in stradario".</div>
                    <div style="height: 20px"></div>
                    <app-map style="height: calc(100vh - 16px)"
                    [datasets]="datasets"
                    [baseLayer]="baseLayer"
                    [options]="options"
                    [wmsList]="wmsList"
                    [zoomTo]="zoomTo"
                    (identifiedListEmit)="readIdentifiedList($event)"
                    (selectedIdentifyPointEmit)="selectedGeoJsonOnIdentify($event)">
                    </app-map>
                </div>
            </mat-grid-tile>
        <mat-grid-tile colspan="2"></mat-grid-tile>
        </mat-grid-list>
    </div>

    <mat-grid-list cols="24" rowHeight="100px">
        <mat-grid-tile colspan="2"></mat-grid-tile>
        <mat-grid-tile [colspan]="btnBreakpoint" style="overflow: unset; padding: 0 35px;">
            <button mat-button class="secondary-button mid-button" *ngIf="isAbilitatoInserisciImpianto()"
                (click)="apriInserisciimpianto()">INSERISCI NUOVO IMPIANTO
                TERMICO</button>
        </mat-grid-tile>
        <mat-grid-tile colspan="2"></mat-grid-tile>
    </mat-grid-list>

    <div style="height: 350px;" *ngIf="!impianti || impianti.length==0"></div>
</div>