.stato-attivo{
    color: #167446;
}

.stato-dismesso{
    color: #741616;
}

.label-tile{
    width: 100%;
    text-align: left;
}

.data-tile{
    width: 100%;
    text-align: right;
    font-weight: bold;
}

.card{
    margin-bottom: 1em;
}
