.mat-button{
    padding: 0 0; 
}

.right-elem{
    font-weight: 500;
}

.card-grid {
        display: grid;
        grid-template-columns: repeat(33%);
        max-width: 1200px;
        margin: 2% 11% 2% 6%;
}

.query-panel{
    width: 82.5%; 
    margin: 0% 7.5%;
}


.card {
    margin-bottom: 2em;
    width: 90%;
    margin-left: 9%;
    margin-right: 9%;

    .bozza {
        color: #00a8e6;
    }

    .attesa {
        color: #e68500;
    }

    .inviato {
        color: #167446;
    }

    .respinto {
        color: #b8191a;
    }
}

.decoration-bozza {
    border-top: solid #00a8e6 5px;
}

.decoration-attesa {
    border-top: solid #e68500 5px;
}

.decoration-inviato {
    border-top: solid #167446 5px;
}

.decoration-respinto {
    border-top: solid #b8191a 5px;
}

.filter-card {
    background-color: none;
}

.bozza-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.pdf-button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .pdf-icon {
        margin-right: 1em;
    }
}

.add-controllo {
    font-size: 1.2em;
    font-weight: bold;
}

.hide {
    display: none;
}

.aggiungi-controllo{
    padding: 20px 8%;
}

@media only  screen and (max-width: 768px){
        .card-grid {
        gap: 15px;
        margin: 0% 15% 0% 0%;
    }
}