.pageTitle {
    width: 100%;
}

.roles {
    background-color: #f2f8fd;
    padding: 0 8.3%;
}

.role-button-generic,
.role-button-generic-selected {
    font-size: 1em;
    text-align: center;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-content,
.card-title {
    width: 100%;
    text-align: left;
}

.card-title {
    font-size: 1em;
}

.descr-abil {
    font-weight: bold;
}


.message-chatbot {
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-align: left;
}

.icon-chatbot {
    width: 20px;
    min-width: 30px;
    margin-right: 10px;
}

.mat-grid-list-responsive {
    height: 6em;
}
  
.role-img {
    display: flex;
    margin-bottom: 5px;
    margin-left: 3px;
}

.notice-container {
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice-message-size,
.notice-help-size {
    width: 80%;
}

.wide-card {
    width: 90%;
}

.notice-title {
    font-size: 22px/33px;
    font-weight: bold;
    margin-bottom: 1em;
}

.notice-message {
    font-size: 16px/28px;
}

.mat-grid-tile {
    display: block;
    position: absolute;
    overflow: unset;
}

@media screen and (min-width: 1440px) {
    .roles-limit {
        width: 1000px;
        margin: auto;
    }
}


@media screen and (max-width: 768px) {
    .pageTitle {
        text-align: center;
    }

    .message-chatbot{
        text-align: center;
    }

    .icon-container[_ngcontent-jxu-c161] {
        width: 100%;
        text-align: center;
        /* display: -webkit-inline-box; */
        margin-top: 20px;
        margin-right: 0;
    }

    .role-img{
        padding-left: 20%;
        width: 60%;
        margin: 0 0 5px 0;
    }


    .role-button-generic {
        width: 100%;
        height: 7em;
        border-radius: 10px;
        background: transparent linear-gradient(115deg, #0055AA 0%, #114072 100%) 0% 0% no-repeat padding-box;
    }

    .role-button-generic-selected {
        width: 100%;
        height: 7em;
        border-radius: 10px;
        background: transparent linear-gradient(115deg, #004183 0%, #0a2441 100%) 0% 0% no-repeat padding-box;
    }

    .notice-message-size,
    .notice-help-size {
        width: 80%;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .role-list-margin{
        margin-bottom: 32px;
    }

    .role-button-generic {
        width: 100%;
        height: 10em;
        border-radius: 10px;
        background: transparent linear-gradient(115deg, #0055AA 0%, #114072 100%) 0% 0% no-repeat padding-box;
    }

    .role-button-generic-selected {
        width: 100%;
        height: 10em;
        border-radius: 10px;
        background: transparent linear-gradient(115deg, #004183 0%, #0a2441 100%) 0% 0% no-repeat padding-box;
    }

    .message-chatbot {
        margin-left: 0px;
        margin-top: -1em;
    }

    .mat-grid-list-responsive {
        height: 10em;
    }

    .pageTitle {
        text-align: left;
        font-size: 30px/41px;
        font-weight: bold;
        width: 100%;
    }

    .notice-message-size {
        width: 40%;
    }

    .notice-help-size {
        width: 20%;
    }

    .icon-container {
        width: 100%;
        display: -webkit-inline-box;
        margin-right: 0;
    }
}