.pageTitle {
    width: 100%;
    text-align: center;
    margin-top: 1em;
}

.roles {
    background-color: #f2f8fd;
    margin-top: 1em;
    margin: 0.5em;
    .role-button-generic {
        width: 8em;
        height: 6em;
        font-size: 1em;
        text-align: center;
        color: white;

        cursor: pointer;
        border-radius: 6px;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: transparent;
    }

    .role-card {
        width: 90%;
        min-height: 10em;
        margin: auto;
        margin-bottom: 1em;
    }

    .card-content {
        width: 100%;
        text-align: left;
    }

    .card-title {
        font-size: 1em;
        font-weight: bold;
        width: 100%;
        text-align: left;
    }

    .descr-abil {
        font-weight: bold;
    }
    
    .text-chatbot {
        margin-top: 0;
        margin-bottom: 0;
        width: 75%;
        padding-left: 20px;
        
    }
    
    .message-chatbot {
        display:flex;
        align-items:center;
        margin-left: 10px;
        text-align: left; 
    }
    
    .icon-chatbot {
        width: -webkit-fill-available;
        margin-right: 5px;
        min-width: 30px;
    }
    .icon-container {
        width: 9%;
        display: inline-flex;
        margin-right: 0;
    }
}
