<div class="page-content">
    <div class="title pageTitle">Catasto Impianti Termici</div>
    <div class="roles">
        <app-message-box [titolo]="titoloErrore" [descrizione]="descrizioneErrore" [type]="2" *ngIf="titoloErrore!=''">
        </app-message-box>

        <app-title [title]="'Ruolo'" [subtitle]="'Seleziona un ruolo'"></app-title>
        <div class="message-chatbot">
            <div class="text-chatbot">
                <h3>Hai bisogno di aiuto? Chiedi al CitBot
                    <div class="icon-container">
                        <img class="icon-chatbot" [src]="citbot">
                    </div>
                    sono in basso a destra
                </h3>            
            </div>
            
        </div>    
    <mat-grid-list cols="3" rowHeight="6em">
            <mat-grid-tile>
                <div matRipple class="role-button-generic" (click)="showCittadini()" id="buttonCittadini">

                    <img *ngIf="!cittadiniclicked" [src]="cittadini">
                    <img *ngIf="cittadiniclicked" [src]="cittadiniScuro">

                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div matRipple [matRippleCentered]=true class="role-button-generic" (click)="showImprese()" id="buttonImpresa">
                    <img *ngIf="!impreseclicked" [src]="imprese">
                    <img *ngIf="impreseclicked" [src]="impreseScuro">
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div matRipple class="role-button-generic" (click)="showPa()" id="buttonPA">
                    <img *ngIf="!paclicked" [src]="pa">
                    <img *ngIf="paclicked" [src]="paScuro">
                </div>
            </mat-grid-tile>
        </mat-grid-list>

        <div *ngIf="cittadiniclicked  && ruoli">
            <app-message-box [titolo]="'Nessun risultato trovato'" [descrizione]="'Nessun ruolo cittadino abilitato'"
                [type]="1" *ngIf="!ruoli.ruoliPF || ruoli.ruoliPF.length==0">
            </app-message-box>

            <mat-card class="role-card mat-elevation-z8" *ngFor="let role of ruoli.ruoliPF">
                <mat-grid-list cols="12" rowHeight="2em">
                    <mat-grid-tile colspan="2">
                        <img [src]="pfRed">
                    </mat-grid-tile>
                    <mat-grid-tile colspan="10">
                        <div class="card-title">
                            {{role.ruoloPF}}
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="12">
                        <div class="card-content fields-label">
                            CF/P.IVA: {{ruoli.pfLoggato.codiceFiscalePF}}
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="12"></mat-grid-tile>
                    <mat-grid-tile colspan="9" rowspan="2">
                        <button class="default-button" (click)="selezionaRuoloPF(role)">SELEZIONA IL
                            RUOLO</button>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
        </div>

        <div *ngIf="impreseclicked && ruoli!=undefined">
            <app-message-box [titolo]="'Nessun risultato trovato'" [descrizione]="'Nessun ruolo impresa abilitato'"
                [type]="1" *ngIf="ruoli.ruoliPG==undefined || ruoli.ruoliPG.length==0">
            </app-message-box>

            <mat-card class="role-card mat-elevation-z8" *ngFor="let role of ruoli.ruoliPG">
                <mat-grid-list cols="12" rowHeight="2em">
                    <mat-grid-tile colspan="2" rowspan="2">
                        <img [src]="pgRed">
                    </mat-grid-tile>
                    <mat-grid-tile colspan="10">
                        <div class="card-title">
                            {{role.ruoloPG}}
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="10">
                        <div class="card-title">
                            {{role.denominazione}}
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="12">
                        <div class="card-content fields-label">
                            Codice REA: {{role.siglaREA}}-{{role.numeroREA}}
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="12">
                        <div class="card-content fields-label">
                            CF/P.IVA: {{role.piva}}
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="12"></mat-grid-tile>
                    <mat-grid-tile colspan="9" rowspan="2">
                        <button class="default-button" (click)="selezionaRuoloPG(role)">SELEZIONA IL
                            RUOLO</button>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
        </div>

        <div *ngIf="paclicked  && ruoli!=undefined">
            <app-message-box [titolo]="'Nessun risultato trovato'" [descrizione]="'Nessun ruolo PA abilitato'"
                [type]="1" *ngIf="ruoli.ruoliPA==undefined || ruoli.ruoliPA.length==0">
            </app-message-box>
            <mat-card class="role-card mat-elevation-z8" *ngFor="let role of ruoli.ruoliPA">
                <mat-grid-list cols="12" rowHeight="2em">
                    <mat-grid-tile colspan="2">
                        <img [src]="paRed">
                    </mat-grid-tile>
                    <mat-grid-tile colspan="10">
                        <div class="card-title">
                            {{role.ruoloPA}}
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="12">
                        <div class="card-content fields-label">
                            Abilitato su:
                            <span class="descr-abil">{{role.descrAbilitazione}}</span>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="12"></mat-grid-tile>
                    <mat-grid-tile colspan="9" rowspan="2">
                        <button class="default-button" (click)="selezionaRuoloPA(role)">SELEZIONA IL
                            RUOLO</button>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
        </div>
    </div>
    
</div>