.title-card {
   background-color: transparent;
   text-align: left;
}

.title-img {
   margin-left: 1em;
   margin-top: 0.2em;
}

.section-title {
   font-size: 16px;
   font-weight: bold;
   color: black;
}
