<div class="wide-screen">
    <mat-grid-list cols="12" rowHeight="8em">
        <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
        <mat-grid-tile colspan="10" rowspan="1">
            <mat-card class="title-card mat-elevation-z0 no-lateral-margin">
                <mat-card-header>
                    <div mat-card-avatar *ngIf="title"><img [src]="titlePng" alt="titlePng" class="title-img"></div>
                    <mat-card-title class="title no-lateral-margin" *ngIf="title">{{title}}</mat-card-title>
                    <mat-card-subtitle class="section-title no-lateral-margin"
                        *ngIf="subtitle">{{subtitle}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
    </mat-grid-list>
</div>