.ricerca-button{
    margin-top: 1em;
}

.default-button {
    width: 84%;
    margin: 3% 8%;
}

.card {
    width: 80% !important; 
    max-width: 1160px;
}

@media screen and (min-width: 768px) {
    .mat-grid-tile-content {
        display: block !important;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 76% !important;
    }
}