<div id="first-block">
  <div class="centered-container">
    <img src="assets/footer/regione-piemonte.png" alt="Regione Piemonte">
  </div>
</div>
<div id="second-block">
  <div class="centered-container">
    <div class="flex-container" style="margin-bottom: 40px">
      <img src="assets/footer/servizi-online.svg" alt="Servizi Online">
      <img src="assets/footer/csi.png" alt="CSI">
    </div>
    <hr style="margin-bottom: 40px">
    <div class="flex-container">
      <a href="https://www.regione.piemonte.it/web/accessibilita" target="_blank">Accessibilità</a>
      <a href="https://www.regione.piemonte.it/web/note-legali-privacy" target="_blank">Note legali e privacy</a>
      <a href="https://www.regione.piemonte.it/web/cookie-policy" target="_blank">Cookie policy</a>
    </div>
  </div>
</div>
