.title-card {
    background-color: transparent;
    text-align: left;
}

.section-title {
    font-size: 16px/22px;
    font-weight: bold;
    color: black;
}

.title-img {
    margin-left: 0;
    margin-top: 16px;
}

.mat-card-header .mat-card-title {
    font-size: 32px;
}

.no-lateral-margin {
    margin-left: -16px;
}

.mat-checkbox{
    width: 50%;
}

@media screen and (max-width: 768px) {
    .mat-card-header .mat-card-title {
        font-size: 22px;
    }

    .card {
        width: 90% !important;
    }
    
    .page-content-card {
        flex-direction: column;
    }

    .mat-checkbox{
        width: 100% !important;
    }
}



.card {
    width: 100%;
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
}

.page-content-card {
    padding: 0 8% !important;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    display: flex;
}

span.right-align {
    float: right;
    font-weight: bold;
}

.content {
    text-align: left;
    padding: 16px;
    width: unset;
}

.card-row {
    display: flex;
    flex-direction: column
}

mat-form-field {
    width: 95%;
}


::ng-deep .mat-checkbox-label{
    text-wrap: pretty;
}