.label-tile {
    width: 100%;
    text-align: left;
    font-size: 0.8em;
    color: grey;
}

.comp-card{
    background-color: transparent;
}

.comp-button{
    font-weight: bold;
    border-radius: 12px;  
}
