.label-tile {
    width: 100%;
    text-align: left;
    font-size: 0.8em;
    color: grey;
}

.comp-card{
    background-color: transparent;
}

.comp-button{
    font-weight: bold;
    border-radius: 12px;  
}


.default-button {
    width: 100%;
}

.panel-title{
    padding: 15px;
}

.card {
    width: 81% !important;
}

@media screen and (min-width: 768px) {
    .mat-grid-tile-content {
        display: block !important;
    }

    .expansion-panel {
        width: 83.5%;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 76% !important;
    }

    .expansion-panel {
        width: 86%;
    }
}
