mat-form-field {
    width: 100%;
}

.label-tile {
    width: 100%;
    text-align: left;
    font-size: 0.8em;
}

.back {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.8em;
    font-weight: 100;
}

.torna {
    margin-top: 1em;
    width: 90%;
    font-weight: bold;
}

.card-dati {
    margin-top: 1em;
    margin-bottom: 1em;
}