
mat-form-field {
    width: 100%;
}

.page-content {
    padding: 0 8% !important;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}

.add-component {
    font-size: 1em;
    font-weight: bold;
}