.component-button {
    border-radius: 35px;
    width: 100%;
}

.interno {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}


.interno-search {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}