.component-button {
    border-radius: 35px;
    width: 100%;
}

.interno {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}


.interno-search {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.card {
    width: 81% !important;
}

@media screen and (min-width: 768px) {
    .mat-grid-tile-content {
        display: block !important;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 76% !important;
    }
}