.hr-left{
    width: 45%;
    margin: 0% 2% 0% 0%;
} 

.hr-right{
    width: 45%;
    margin: 0% 0% 0% 2%;
}

.hr-full{
    width: 100%;
}   

.btn-width-full{
    width: 100%;
}

.text-link {
    font: normal normal bold 16px 'Open Sans', Sans-serif;
    color: #006cb4;
    margin: 20px 0px;
}

@media screen and (max-width: 767px) {
    .centered-container-content-title{
        width: 100%;
    }
    
    .centered-container-content{
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .centered-container-content-title{
        width: 100%;
    }
    
    .centered-container-content{
        width: 50%;
    }
}