@media screen and (min-width: 1366px) and (max-width: 1440px) {
    .wide-screen {
        width: 88%;
        margin-left: 84px;
    }

    html .page-content, body .page-content {
        width: 100%;
        padding: 0px !important;
    }
}

.full-width {
  display: block;
  width: 100%;
}


.role-header-wrapper {
  max-width: calc(100% * 10 / 12); 
  margin: 0 auto;                  
}