<div>
<div id="first-block" style="padding-right: 40px;">
    <div class="centered-container-footer centered-logo">
      <img [src]="regione_piemonte" alt="Regione Piemonte">
    </div>
  </div>
  <div id="second-block" style="padding-right: 40px;">
    <div class="centered-container-footer">
      <div class="flex-container" style="margin-bottom: 40px">
        <img [src]="servizi_online" alt="Servizi Online">
        <img [src]="csi_digital_partner" alt="CSI">
      </div>
      <hr style="margin-bottom: 40px">
      <div class="flex-container">
        <a class="custom-text" href="https://www.regione.piemonte.it/web/cookie-policy" target="_blank" rel="noopener noreferrer">Privacy - Cookie policy</a>
        <div class="custom-text" style="text-align: end;">Un servizio a cura della Regione Piemonte <br>P.Iva 02843860012 - CF 80087670016</div>
      </div>
    </div>
  </div>
</div>