#first-block {
    background-color: #005095;
  }
  
  #second-block {
    background-color: #213366;
  }
  
  .centered-container-footer {
    align-items: center;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 20px;
}
  
  .flex-container {
    display: flex;
    justify-content: space-between;
  }
  
  a {
    font-size: smaller;
    text-decoration: none;
    color: white;
  
    &:hover {
      text-decoration: underline;
    }
  }

  .custom-text{
    line-height: normal;
    color: white;
  }

  @media screen and (min-width: 768px) {
    .custom-text{
      font: normal normal bold 14px 'Open Sans', sans-serif;
    }

    img {
      width: 200px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .custom-text{
      font: normal normal bold 8px 'Open Sans', sans-serif;
    }
    
    img {
      width: 150px;
    }

    .centered-logo {
      display: table;
    }
  }
  