mat-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-left: 10px solid;

  mat-icon {
    width: 32px;
    height: 32px;
    margin-right: 20px;
    font-size: 32px;
  }

  &.alert-success {
    background-color: #dff0d9;
    border-left-color: #61b87a;

    mat-icon {
      color: #61b87a;
    }
  }

  &.alert-warn {
    background-color: #fff7d0;
    border-left-color: #f8e60d;

    mat-icon {
      color: #f8e60d;
    }
  }

  &.alert-error {
    background-color: #fee7e8;
    border-left-color: #f41622;

    mat-icon {
      color: #f41622;
    }
  }

  &.alert-info {
    background-color: #dbeef7;
    border-left-color: #006cb4;

    mat-icon {
      color: #006cb4;
    }
  }
}
