mat-form-field {
    width: 100%;
}

.label-tile {
    width: 100%;
    text-align: left;
    font-size: 0.8em;
}

.text-wrap {
    overflow-wrap: break-word;
}

.annulla {
    font-weight: bold;
}

.modifica {
    display: flex;
    align-items: center;

    button {
        margin-left: auto;
        font-weight: bold;
        font-size: 1.2em;
        text-decoration: underline;
    }
}

.panel-title {
    font-weight: bold;
    margin-left: 15px;
}

.expansion-panel {
    width: 95%;
    height: max-content;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
}

.delete {
    color: #b8191a;
}

.component-button {
    border-radius: 35px;
    width: 100%;
}

.interno {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.add-component {
    font-size: 1em;
    font-weight: bold;
}

.card-componenti {
    margin-bottom: 1em;
}

.download-libretto {
    display: flex;
    align-items: center;
    color: #b8191a;
    text-decoration: underline;

    button {
        margin-left: 1em;
        font-weight: bold;
    }
}

.modulistica {
    font-size: 1.5em;
    font-weight: bold;
}

.modul-card {
    margin-top: 2em;
    margin-bottom: 2em;
}

.no-prop-resp {
    width: 100%;
    height: 100%;
}

.dettaglio-impianto {
    padding: 0 6% !important;
}

.card-grid{
    margin-left: 2%;
    margin-right: 3.5%;
}

.expansion-header-margin{
    margin-right: 10px;
}

@media screen and (min-width: 768px) {
    .card {
        width: 92% !important;
        margin: 2.5%;
    }

    .title-margin{
        margin-left: -90px;
    }

    .radio-button-gap{
        margin: 0 50px;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 84% !important;
        margin: 2.5%;
    }

    .radio-button-gap{
        margin: 0 10px;
    }
}