<mat-sidenav-container autosize class="sidenav-container">
    <mat-sidenav #drawer mode="over" [fixedInViewport]="true">
        <div class="logo">
            <img [src]="logoblu" alt="logoblu">
        </div>
        <mat-nav-list>
            <mat-list-item color="primary" class="sidenav-list-item" routerLink="ruoli">
                <img [src]="ruolo" alt="ruolo">
                <p class="primary-color">Cambia ruolo</p>
            </mat-list-item>
            <mat-list-item color="primary" class="sidenav-list-item" (click)="navigateRicercaImpianti()">
                <img [src]="ricerca" alt="ricerca">
                <p class="primary-color">Cerca impianti</p>
            </mat-list-item>
            <mat-list-item color="primary" class="sidenav-list-item" (click)="navigateRicercaImprese()" *ngIf="isRuoloPA()">
                <img [src]="impresa_primary" alt="impresa" style="width: 25px;">
                <p class="primary-color">Cerca imprese</p>
            </mat-list-item>
            <mat-list-item color="primary" class="sidenav-list-item" (click)="nominaTerzoResponsabile()" *ngIf="isSubentroVisible()">
                <img [src]="subentro" alt="subentro">
                <p class="primary-color">Subentro/Nomina terzo responsabile</p>
            </mat-list-item>
            <mat-list-item *ngxPermissionsOnly="'MENU_VERIFICHE'" color="primary" class="sidenav-list-item" [routerLink]="['/', 'cerca-verifiche']" fragment="fresh">
                <img [src]="verifiche" alt="verifiche">
                <p class="primary-color">Gestione verifiche</p>
            </mat-list-item>
            <mat-list-item *ngxPermissionsOnly="'MENU_ACCERTAMENTI'" color="primary" class="sidenav-list-item" [routerLink]="['/', 'accertamenti']">
                <img [src]="accertamenti" alt="accertamenti">
                <p class="primary-color">Gestione accertamenti</p>
            </mat-list-item>
            <mat-list-item *ngxPermissionsOnly="'MENU_ISPEZIONI'" color="primary" class="sidenav-list-item" [routerLink]="['/', 'cerca-ispezioni']" fragment="fresh">
                <img [src]="ispezioni" alt="ispezioni">
                <p class="primary-color">Gestione ispezioni</p>
            </mat-list-item>
            <mat-list-item color="primary" class="sidenav-list-item" [routerLink]="['/', 'faq']">
                <img [src]="faq2" alt="faq">
                <p class="primary-color">FAQ</p>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <div class="centered-container">
          <button *ngIf="!isDisponibilitaServizioPage()" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <img src="assets/icons/logoMenu.png" alt="CIT">
          <span style="flex: 1 1 auto"></span>
          <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
            <mat-icon [matBadge]="getNumNotifications()" matBadgeSize="small" matBadgeColor="accent">notifications</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="helpMenu">
            <mat-icon>help</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="usermenu">
            <mat-icon class="big-icon">circle</mat-icon>
            <span class="text-over-icon">{{inizialiProfilo}}</span>
          </button>
        </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
      <app-footer2></app-footer2>
    </mat-sidenav-content>
</mat-sidenav-container>

    <mat-menu #helpMenu="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false">
        <mat-nav-list>
            <mat-list-item class="menu-list-item" (click)="openFaq()">
                <p class="primary-color def-elem">FAQ</p>
            </mat-list-item>
            <mat-list-item class="menu-list-item" (click)="openManuale()">
                <p class="primary-color def-elem">MANUALE</p>
            </mat-list-item>
            <mat-list-item class="menu-list-item" (click)="openAssistenza()">
                <p class="primary-color def-elem">ASSISTENZA</p>
            </mat-list-item>
        </mat-nav-list>
    </mat-menu>

    <mat-menu #usermenu="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false">
        <mat-nav-list>
            <!-- Nascosto su richiesta del cliente -->
            <!-- <mat-list-item color="primary" class="menu-list-item" routerLink="ruoli">
                <img [src]="ruolo" alt="ruolo">
                <p class="primary-color">Cambia ruolo</p>
            </mat-list-item> -->
            <mat-list-item color="primary" class="menu-list-item" routerLink="accreditamento">
                <img [src]="ruolo" alt="accreditamento">
                <p class="primary-color">Gestione dati personali e accreditamento</p>
            </mat-list-item>
            <mat-list-item color="primary" class="menu-list-item" (click)="openNotifiche()">
                <img [src]="mail" alt="mail">
                <p class="primary-color">Attiva/disattiva MEMO notifiche</p>
            </mat-list-item>
            <mat-list-item class="menu-list-item" (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <p>Esci</p>
            </mat-list-item>
        </mat-nav-list>
    </mat-menu>

    <mat-menu #notificationMenu="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false">
        <app-rapprova-notifications></app-rapprova-notifications>
        <div *ngFor="let operazione of operazioni">
            <mat-card class="operation-card mat-elevation-z0">
                <div class="container">
                    <div class="item">
                        <div class="elem">Impianto: <span class="def-elem">{{operazione.codiceImpianto}}</span></div>

                        <div class="elem">Attività: <span class="def-elem">{{operazione.descrizioneOperazione}}</span>
                        </div>

                        <div class="elem">Data inserimento: <span
                                class="def-elem">{{getDate(operazione.dataInserimento)}}</span>
                        </div>

                        <div class="elem">Data controllo: <span
                                class="def-elem">{{getDate(operazione.dataControllo)}}</span></div>

                        <div class="elem">Data invio online: <span
                                class="def-elem">{{getDate(operazione.dataInvioOnline)}}</span></div>
                        <div class="elem">
                            <span>Esito: </span>
                            <span *ngIf="operazione.esito === esitoOperazioni.FALLITO"
                                class="fallito def-elem">{{operazione.esito}}</span>
                            <span *ngIf="operazione.esito === esitoOperazioni.SUCCESSO"
                                class="successo def-elem">{{operazione.esito}}</span>
                            <span *ngIf="operazione.esito === esitoOperazioni.PENDING"
                                class="pending def-elem">{{operazione.esito}}</span>
                        </div>
                        <div class="elem" *ngIf="operazione.esito === 'FALLITO'">Motivo:
                            <span class="def-elem">{{operazione.descEsito}}</span>
                        </div>
                    </div>
                    <div class="item">
                        <button mat-icon-button (click)="removeItem(operazione)" *ngIf="operazione.dataInvioOnline">
                            <mat-icon class="check">check</mat-icon>
                        </button>
                        <button mat-icon-button (click)="removeItem(operazione)" *ngIf="!operazione.dataInvioOnline">
                            <mat-icon class="delete">delete</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card>
            <mat-divider></mat-divider>
        </div>
        <span *ngIf="!getNumNotifications()" class="box-message">Nessuna notifica ricevuta</span>
    </mat-menu>

