.warn-box {
    background-color: #fff7d0;
    border-left: solid #f8e60d 1em;
    margin-top: 30px;
    width: 100%;
}

.center-div{
    height: 36px;
}

.blank-space{
    height: 150px;
}

@media only screen and (max-width: 992px) {
    .center-div{
        height: 150px;
    }

}


