@media screen and (min-width: 768px) {
    .centered-container-content-title{
        width: 100%;
    }
    
    .centered-container-content{
        width: 100%;
    }
    
    .filter-card{
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .centered-container-content-title{
        width: 100%;
    }
    
    .centered-container-content{
        width: 100%;
    }

    .filter-card{
        width: -webkit-fill-available;;
    }
}
