.footer-1 {
    width: 100%;
    background-color: #005095;
}
.footer-2 {
    width: 100%;
    background-color: #213366;
    .footer-span {
        color: white;
        font-size: 14px;
    }
    .line{
        width: 80%;
        height: 1px;
        background-color: #939393;
    }
}
