.comp-button {
    border-radius: 15px;
    font-weight: bold;
    margin-left: 0.5em;
}

.modify {
    font-weight: bold;
}

.dismetti-sostituisci-div {
    .dismetti-sostituisci-button {
        width: 40%;
        margin: 1%;
    }
}

.card {
    margin-bottom: 1em;
}

.intestazione {
    background-color: transparent;
}
