<mat-card class="card mat-elevation-z0 intestazione">
    <div class="left-elem">
        <app-title [title]="''" [subtitle]="'Cogeneratori/Trigeneratori:'">
        </app-title>
    </div>
    <mat-grid-list cols="2" rowHeight="1em">
        <mat-grid-tile rowspan="3">
            <div class="left-elem">
                <button mat-raised-button *ngIf="progr" class="comp-button primary-color">CG-{{progr}}</button>
                <button mat-raised-button *ngIf="!progr" class="comp-button primary-color">CG-N</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile rowspan="3">
            <div class="right-elem">
                <button mat-button color="primary" class="modify" *ngIf="checkModificaButton()" (click)="modifica()">
                    <mat-icon>edit</mat-icon>
                    Modifica
                </button>
                <button mat-button color="primary" class="modify" *ngIf="checkRiattivaButton()" (click)="riattiva()">
                    <mat-icon>edit</mat-icon>
                    Riattiva
                </button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>
<mat-card class="card mat-elevation-z8">
    <mat-grid-list cols="3" rowHeight="4em">
        <form class="form-container" [formGroup]="dettForm">
            <mat-grid-tile colspan="3">
                <div class="left-elem">
                    <mat-label [ngClass]="{'disabled':dettForm.disabled}">Data installazione*</mat-label>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="form-field">
                    <mat-label>GG/MM/AAAA</mat-label>
                    <input matInput [matDatepicker]="picker" [matDatepickerFilter]="myFilter"
                        [formControlName]="'dtInstall'">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile colspan="3">
                <div class="left-elem">
                    <mat-label [ngClass]="{'disabled':dettForm.disabled}">Data dismissione</mat-label>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="form-field">
                    <mat-label>GG/MM/AAAA</mat-label>
                    <input matInput [matDatepicker]="picker2" [formControlName]="'dtDismiss'">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="right-elem">
                    <button mat-button color="primary" class="dismetti-sostituisci-button"
                        *ngIf="checkSostituisciButton()" (click)="sostituisci()">
                        Sostituisci
                    </button>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="left-elem">
                    <button mat-button color="primary" class="dismetti-sostituisci-button" *ngIf="checkDismettiButton()"
                        (click)="dismetti()">
                        Dismetti
                    </button>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-form-field class="form-field">
                    <mat-select placeholder="Fabbricante" [formControlName]="'fabbricante'">
                        <mat-option *ngFor="let elem of fabbricanti" [value]="elem.codice">
                            {{elem.descrizione}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-form-field class="form-field">
                    <input matInput placeholder="Modello" [formControlName]="'modello'">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-form-field class="form-field">
                    <input matInput placeholder="Matricola" [formControlName]="'matricola'">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-form-field class="form-field">
                    <mat-select placeholder="Alimentazione" [formControlName]="'combustibile'">
                        <mat-option *ngFor="let elem of combustibili" [value]="elem.codice">
                            {{elem.descrizione}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-form-field class="form-field">
                    <input matInput placeholder="Tipologia" [formControlName]="'tipologia'">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-form-field class="form-field">
                    <input matInput placeholder="Potenza termica nominale massimo recupero (kW)"
                        [formControlName]="'potenzaTermica'" type="number">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-form-field class="form-field">
                    <input matInput placeholder="Potenza elettrica nominale ai morsetti del generatore (kW)"
                        [formControlName]="'potenzaElettrica'" type="number">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="3">
                <mat-form-field class="form-field">
                    <input matInput placeholder="Temperatura acqua in uscita minima (°C)"
                        [formControlName]="'tempH2oOutMin'" type="number">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-form-field class="form-field">
                    <input matInput placeholder="Temperatura acqua in uscita massima (°C)"
                        [formControlName]="'tempH2oOutMax'" type="number">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-form-field class="form-field">
                    <input matInput placeholder="Temperatura acqua in ingresso minima (°C)"
                        [formControlName]="'tempH2oInMin'" type="number">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-form-field class="form-field">
                    <input matInput placeholder="Temperatura acqua in ingresso massima (°C)"
                        [formControlName]="'tempH2oInMax'" type="number">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-form-field class="form-field">
                    <input matInput placeholder="Temperatura acqua motore (solo m.c.i.) minima (°C)"
                        [formControlName]="'tempH2oMotoreMin'" type="number">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-form-field class="form-field">
                    <input matInput placeholder="Temperatura acqua motore (solo m.c.i.) massima (°C)"
                        [formControlName]="'tempH2oMotoreMax'" type="number">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-form-field class="form-field">
                    <input matInput placeholder="Temperatura minima fumi a valle dello scambiatore (°C)"
                        [formControlName]="'tempFumiValleMin'" type="number">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-form-field class="form-field">
                    <input matInput placeholder="Temperatura massima fumi a valle dello scambiatore (°C)"
                        [formControlName]="'tempFumiValleMax'" type="number">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-form-field class="form-field">
                    <input matInput placeholder="Temperatura minima fumi a monte dello scambiatore (°C)"
                        [formControlName]="'tempFumiMonteMin'" type="number">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-form-field class="form-field">
                    <input matInput placeholder="Temperatura massima fumi a monte dello scambiatore (°C)"
                        [formControlName]="'tempFumiMonteMax'" type="number">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-form-field class="form-field">
                    <input matInput placeholder="Emissioni di monossido di carbonio CO minima"
                        [formControlName]="'coMin'" type="number">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <mat-form-field class="form-field">
                    <input matInput placeholder="Emissioni di monossido di carbonio CO massima"
                        [formControlName]="'coMax'" type="number">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="3">
                <mat-form-field class="form-field">
                    <input matInput placeholder="Da mantenere ogni (anni)" [formControlName]="'nMantenimenti'"
                        type="number">
                    <mat-error *ngIf="dettForm.get('nMantenimenti').errors?.pattern">Il valore deve essere
                        maggiore di 0</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="3" rowspan="2">
                <mat-form-field class="form-field">
                    <textarea matInput placeholder="Note" [formControlName]="'note'"></textarea>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">
                <button mat-button class="primary-color" *ngIf="checkAnnullaButton()"
                    (click)="annulla()">ANNULLA</button>
            </mat-grid-tile>
        </form>
    </mat-grid-list>
</mat-card>
<app-title [title]="'Sostituzione del componente'" [subtitle]="''" *ngIf="progr && cgDismessi.length > 0"></app-title>
<mat-card class="card mat-elevation-z8" *ngFor="let cg of cgDismessi">
    <mat-grid-list cols="2" rowHeight="2em">
        <mat-grid-tile rowspan="2">
            <div class="left-elem">
                <button mat-raised-button class="comp-button primary-color">CG-{{progr}}</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2"></mat-grid-tile>
        <mat-grid-tile>
            <div class="left-elem">
                <p>Data installazione</p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="right-elem def-elem">
                <p>{{ getDate(cg.dataInstall) }} </p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="left-elem">
                <p>Data dismissione</p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="right-elem def-elem">
                <p>{{ getDate(cg.dataDismiss) }}</p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="left-elem">
                <p>Fabbricante</p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="right-elem def-elem">
                <p>{{cg.descMarca}}</p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="left-elem">
                <p>Modello</p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="right-elem def-elem">
                <p>{{cg.modello}}</p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <button mat-button class="default-button"
                *ngIf="checkRipristinaButton()  && isLastDate(cg.dataDismiss)  && this.dettForm.enabled"
                (click)="ripristina(cg)">RIPRISTINA</button>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>

<button mat-button class="default-button" *ngIf="checkSalvaButton()" (click)="salvaDati()">SALVA</button>